.MainContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}
.title {
    font-size: 3rem;
    display: grid;
    place-items: center;
}

.sidebar {
    background: var(--aside-color);
    color: white;
    height: 100vh;
    overflow-y: auto;
}

.TopSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.logo {
    font-size: 18px;
    line-height: 0;
}

.bars {
    width: 30px;
}

.hide {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
}

.search input {
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    color: white;
}

.routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link {
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:hover {
        border-right: 4px solid white;
        background: rgb(45, 51, 89);
        transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
}

.active {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
}

.LinkText {
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid red;
    text-transform: uppercase;
    font-weight: 900;
}

.menu {
    display: flex;
    color: white;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    justify-content: space-between;
}

.MenuItem {
    display: flex;
    gap: 10px;
}

.MenuContainer {
    display: flex;
    flex-direction: column;

    .link {
        padding-left: 20px;
        border-bottom: #fff .5px solid;
    }
}
.category {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.articleList {
    margin-left: 20px;
}

.articleTitle {
    font-size: 0.9em;
    padding: 3px 0;
    color: #a0a0a0;
}
