.main {
    max-width: 120ch;
    margin: 2rem auto;
    color: #FFFFFF;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .title {
            font-size: 3rem;
            font-weight: bold;

            .professionalTitle {
                font-size: 1.5rem;
                font-weight: normal;
                color: #9EABB8;
            }
    }
        .callToActionButton {
            background-color: #FF6C44;
            color: #FFFFFF;
            padding: .75rem 1rem;
            border-radius: 0.75rem;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            height: fit-content;
        }
}
    .skills {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        .skillsList {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .skill {
                background-color: #FF6C44;
                color: #FFFFFF;
                padding: .2rem 1rem;
                border-radius: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
}

.timeline:before {
    background-color: blue;
    content: '';
    margin-left: -2px;
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
}

.timelineEvent {
    position: relative;
}

.timelineEvent:hover .timelineEventIcon {
    transform: rotate(-45deg);
    background-color: green;
}

.timelineEvent:hover .timelineEventThumbnail {
    box-shadow: inset 40em 0 0 0 red;
}

.timelineEventCopy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80ch;
}

.timelineEventCopy h3 {
    font-size: 1.75em;
}

.timelineEventCopy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timelineEventCopy strong {
    font-weight: 700;
}

.timelineEventCopy p:not(.timelineEventThumbnail) {
    padding-bottom: 1.2em;
}

.timelineEventIcon {
    transition: transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: blueviolet;
    outline: 10px solid rebeccapurple;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
}

.timelineEventThumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 0.75em;
    background-color: pink;
    box-shadow: inset 0 0 0 0 #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.responsibility::before{
    content:"✣ ";
}
