.filterHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filterButton {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
}

.filterButton.active {
    background-color: #333;
    color: white;
}
