.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 3rem;
    border-block: 1px solid #e5e7eb;
    max-width: 800px;
    margin: 0 auto;

    .time {
        color: rgb(156 163 175);
        font-size: 1rem;
        font-weight: 500;
    }
    .bodyCard {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .articleTitle {
                font-size: 1.5rem;
                color: rgb(243, 244, 246);
            }
            .tags {
                display: flex;
                gap: .75rem;
                flex-wrap: wrap;

                .tag {
                    text-transform: uppercase;
                    color: var(--color-primary);
                    font-weight: 500;
                    line-height: 0.5rem;

                    &:hover {
                        color: var(--color-primary__opacity);
                    }
                }
            }
        }

        .readMore {
            color: var(--color-primary);
            font-weight: 500;
            text-transform: capitalize;
            font-size: 1rem;
        }
    }
}
